footer {
  padding-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#fb6f17));
  background: linear-gradient(to bottom, red, #fb6f17);
  width: 100%;
  margin-top: auto;
  bottom: 0;
}

footer .footerServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #FFE8D6;
  padding: 1vh;
}

footer .footerServices .footerServicesBullets {
  list-style-type: none;
}

footer .footerServices .footerServicesLink {
  text-decoration: none;
  color: #53565A;
  font-size: 14px;
  margin-left: .25vw;
}

footer .footerServices .footerServicesLink:hover {
  text-decoration: underline;
}

footer .footerServices .footerBoldTextServices {
  font-weight: bold;
  font-size: 12px;
}

footer .footerServices .footerBoldTextServices:hover {
  text-decoration: underline;
}

footer .footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #58595b;
}

footer .footerBottom .footerBottomBullets {
  list-style-type: none;
}

footer .footerBottom .footerBottomBullets .footerBoldTextBottom {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

footer .footerBottom .footerBottomBullets .footerBottomLink {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-left: .25vw;
}

footer .footerBottom .footerBottomBullets .footerBottomLink:hover {
  text-decoration: underline;
}

footer .footerBottom .footerBottomBullets .footerBottomLinkNoLine {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-left: .25vw;
}

footer .footerBottom .footerBottomBullets .footerBottomLinkNoLine:hover {
  text-decoration: none;
}

footer .footerBottom .footerBottomBullets .footerBottomIconLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerBottom img {
  height: 15px;
  margin-right: .25vw;
  margin-left: .3vw;
}

footer .footerEnd {
  background: #58595b;
}

footer .footerEnd .footerHR {
  border: 1px solid white;
  width: 30vw;
  margin: auto;
}

footer .footerEnd .footerParagraph {
  text-align: center;
  color: white;
  font-size: 13px;
  padding-bottom: 2vh;
}

footer .footerEnd .footerEndLink {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-left: .25vw;
}

footer .footerEnd .footerEndLink:hover {
  text-decoration: underline;
}
