#header {
  position: fixed;
  top: 0;
  width: 100%;
}

.navBrand {
  height: 8.5vh;
}

.searchServiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  height: 8.5vh;
}

.searchServiceContainer .searchService input[type=text] {
  padding: 7px;
  font-size: 14px;
  border: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  float: left;
  background: white;
  width: 13vw;
}

.searchServiceContainer .searchService button {
  float: left;
  color: #58595b;
  padding: 7px;
  background: white;
  font-size: 14px;
  border: 1px solid grey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  /* Prevent double borders */
}

.searchServiceContainer .searchService button:hover {
  color: #fb6f17;
}

.calendarContainer {
  height: 8.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendarContainer #serviceDate {
  padding: 4.5px;
  font-size: 14px;
  border-radius: 3px;
  color: #777777;
  border: 1px solid grey;
  border-radius: 3px;
  background: white;
  width: 9vw;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
}

.searchAddressContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  height: 8.5vh;
}

.searchAddressContainer .searchAddress input[type=text] {
  padding: 7px;
  font-size: 14px;
  border: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  float: left;
  background: white;
  width: 10vw;
}

.searchAddressContainer .searchAddress button {
  float: left;
  color: #58595b;
  padding: 7px;
  background: white;
  font-size: 14px;
  border: 1px solid grey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  /* Prevent double borders */
}

.searchAddressContainer .searchAddress button:hover {
  color: #fb6f17;
}

.findButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.5vh;
}

.findButtonContainer .findButton {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 28px;
  padding-left: 28px;
  background: #fb6f17;
  border-radius: 3px;
  font-weight: bold;
}

.findButtonContainer .findButton:hover {
  text-decoration: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}
