html {
  height: 100%;
}

body {
  background: #fcf9f4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb6f17), to(red));
  background: linear-gradient(to bottom, #fb6f17, red);
}

nav .innerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background: #58595b;
  color: white;
}

nav .innerNav h1 {
  margin-left: 5vw;
  margin-right: 5vw;
}

nav .innerNav .loginButton {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 14px;
  padding-left: 14px;
  background: #fb6f17;
  border-radius: 3px;
  font-weight: bold;
}

nav .innerNav .loginButton:hover {
  text-decoration: underline;
}

nav .innerNav .navServiceProviderLink {
  text-decoration: none;
  color: white;
}

nav .innerNav .navServiceProviderLink:hover {
  text-decoration: underline;
}

nav .innerNav img {
  height: 8.5vh;
}

.searchServiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.25vw;
  margin-right: 0.25vw;
}

.searchServiceContainer .searchService input[type=text] {
  padding: 7px;
  font-size: 14px;
  border: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  float: left;
  background: white;
  width: 13vw;
}

.searchServiceContainer .searchService button {
  float: left;
  color: #58595b;
  padding: 7px;
  background: white;
  font-size: 14px;
  border: 1px solid grey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  /* Prevent double borders */
}

.searchServiceContainer .searchService button:hover {
  color: #fb6f17;
}

#serviceDate {
  padding: 4.5px;
  font-size: 14px;
  border-radius: 3px;
  color: #777777;
  border: 1px solid grey;
  border-radius: 3px;
  background: white;
  width: 9vw;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
}

.searchAddressContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
}

.searchAddressContainer .searchAddress input[type=text] {
  padding: 7px;
  font-size: 14px;
  border: 1px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  float: left;
  background: white;
  width: 10vw;
}

.searchAddressContainer .searchAddress button {
  float: left;
  color: #58595b;
  padding: 7px;
  background: white;
  font-size: 14px;
  border: 1px solid grey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  /* Prevent double borders */
}

.searchAddressContainer .searchAddress button:hover {
  color: #fb6f17;
}

.searchAddressContainer form.searchAddress::after {
  content: "";
  clear: both;
  display: table;
}

.pageTopSpacer {
  height: 10vh;
  width: 100%;
}

footer {
  padding-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#fb6f17));
  background: linear-gradient(to bottom, red, #fb6f17);
  width: 100%;
  margin-top: auto;
}

footer .footerServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #FDF2ED;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

footer .footerServices .footerServicesColumn {
  margin: 0 2vw auto 2vw;
}

footer .footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #58595b;
}

footer .footerBottom .footerBottomBullets {
  list-style-type: none;
}

footer .footerBottom .footerBottomBullets .footerBottomLink {
  text-decoration: none;
  color: white;
}

footer .footerBottom .footerBottomBullets .footerBottomLink:hover {
  color: red;
}

footer .footerEnd {
  background: #58595b;
}

footer .footerEnd .footerHR {
  border: 0.25px solid white;
  width: 40vw;
  margin: auto;
  padding: 0;
}

footer .footerEnd .footerParagraph {
  text-align: center;
  color: white;
  font-size: 13px;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.footerServicesBullets {
  list-style-type: none;
}

.footerServicesLink {
  text-decoration: none;
  color: #53565A;
}

.footerServicesLink:hover {
  color: white;
  font-weight: bold;
}

.footerBoldText {
  font-weight: bold;
  font-size: 12px;
}

/*

// Start of Footer
footer {
    padding-bottom: 5px;
    background: linear-gradient(to bottom, red, $navBackgroundColor);//$navBackgroundColor;
    width: 100%;
    margin-top: auto;
}

.footerServices {
    @include flexCenter(flex-start);
    background: $footerServicesBackgroundColor;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.footerServicesColumn {
    margin: 0 2vw auto 2vw;
}

.footerServicesBullets {
    list-style-type: none;
}

.footerServicesLink {
    text-decoration: none;
    color: #53565A;
    &:hover {
        color: white;
        font-weight: bold;
    }
}

.footerBottom {
    @include flexCenter(flex-start);
    background: $innerNavBackgroundColor;
}

.footerBottomBullets {
    list-style-type: none;
}

.footerBottomLink {
    text-decoration: none;
    color: white;
    &:hover {
        color: red;
    }
}

.footerEnd {
    background: $innerNavBackgroundColor;
}

.footerHR {
    border: 0.5px solid #e5d59b;
    width: 40vw;
    margin: 0;
    padding: 0;
}

.footerParagraph {
    text-align: center;
    color: white;
    font-size: 13px;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

*/
/*
@media only screen and (min-width: 200px) and (max-width: 1024px) {

    .footerContainer {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
    .footerRow {
        display: grid;
        width: 100%;
    }

    .footerColumn {
        font-size: 11px;
    }

    .footerColumn {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    p {
        padding-right: 2vh;
        padding-left: 2vh;
        font-size: 11px;
    }
}
*/
