@import "./variables.scss";

// Search bar
@mixin search() {
    padding: $searchCalendarPadding;
    font-size: $searchCalendarTextSize;
    border: 1px solid grey;
    border-top-left-radius: $inputBorderRadius;
    border-bottom-left-radius: $inputBorderRadius;
    float: left;
    background: white;
}

// Search bar button
@mixin searchButton {
    float: left;
    color: $innerNavBackgroundColor;
    padding: $searchCalendarPadding;
    background: white;
    font-size: $searchCalendarTextSize;
    border: 1px solid grey;
    border-top-right-radius: $inputBorderRadius;
    border-bottom-right-radius: $inputBorderRadius;
    border-left: none; /* Prevent double borders */    
    &:hover {
    color: $navBackgroundColor;
    }
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

.navBrand {
    height: 8.5vh;
}

// Navbar search service field
.searchServiceContainer {
    @include flex(center, center);
    margin-left: $navInputMargin;
    margin-right: $navInputMargin;
    height: 8.5vh;

    .searchService input[type=text] {
        @include search;
        width: 13vw;
    }

    .searchService button {
        @include searchButton;
    }
}

.calendarContainer {
    height: 8.5vh;
    @include flex(center, center);

    #serviceDate {
        padding: $searchCalendarPadding - 2.5px;
        font-size: $searchCalendarTextSize;
        border-radius: $inputBorderRadius;
        color: #777777;// #8e8e8e; // #999; // #a9a9a9;
        border: 1px solid grey;
        border-radius: $inputBorderRadius;
        background: white;
        width: 9vw;
        margin-right: $navInputMargin;
        margin-left: $navInputMargin;
    }
}

// Navbar search address field
.searchAddressContainer {
    @include flex(center, center);
    margin-right: $navInputMargin;
    margin-left: $navInputMargin;
    height: 8.5vh;
    

    .searchAddress input[type=text] {
        @include search;
        width: 10vw;
    }

    .searchAddress button {
        @include searchButton;
    }   
}

// Find Button
.findButtonContainer {
    @include flex(center, center);
    height: 8.5vh;

    .findButton {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        text-decoration: none;
        display: block;
        color: white;
        font-size: 15px;
        padding-top: $searchCalendarPadding;
        padding-bottom: $searchCalendarPadding;
        padding-right: $searchCalendarPadding * 4;
        padding-left: $searchCalendarPadding * 4;
        background: $navBackgroundColor; // linear-gradient(to top, red, $navBackgroundColor);
        border-radius: $inputBorderRadius;
        font-weight: bold;
        &:hover {
            text-decoration: none;
            transform: scale(1.05);
            color: white;
        }
    }
}