@import "./variables.scss";

// Start of Footer
footer {
    padding-bottom: 5px;
    background: linear-gradient(to bottom, red, $navBackgroundColor);//$navBackgroundColor;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    
    .footerServices {
        @include flexCenter(flex-start);
        background: $footerServicesBackgroundColor;
        padding: 1vh;

        .footerServicesBullets {
            list-style-type: none;   
        }
        
        .footerServicesLink {
            @include footerLinksDecoration(none, $footerServicesTextColor, underline);
        }
        
        .footerBoldTextServices {
            font-weight: bold;
            font-size: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .footerBottom {
        @include flexCenter(flex-start);
        background: $innerNavBackgroundColor;

        .footerBottomBullets {
            list-style-type: none;

            .footerBoldTextBottom {
                color: white;
                font-weight: bold;
                font-size: 12px;
            }

            .footerBottomLink {
                @include footerLinksDecoration(none, $navTextColor, underline);
                }
            
            .footerBottomLinkNoLine {
                @include footerLinksDecoration(none, $navTextColor, none);
                }

            .footerBottomIconLabel {
                display: flex;
            }
        }

        img {
            height: 15px;
            margin-right: .25vw;
            margin-left: .3vw;
        }
    }
    
    .footerEnd {
        background: $innerNavBackgroundColor;

        .footerHR {
            border: 1px solid white;
            width: 30vw;
            margin: auto;
        }

        .footerParagraph {
            text-align: center;
            color: white;
            font-size: 13px;
            padding-bottom: 2vh;
        }

        .footerEndLink {
            @include footerLinksDecoration(none, $navTextColor, underline);
        }
    }
}