// Background Colors
$bodyBackgroundColor: #fcf9f4;
$navBackgroundColor: #fb6f17; // rgb(251, 111, 23); // hsl(23, 96.6%, 53.7%);
$innerNavBackgroundColor: #58595b;
$navHoverBackgroundColor: white;
$buttonColor: #766161;
$footerServicesBackgroundColor: #FFE8D6;//#F6DCBF; // #FDF2ED;

// Font-color
$navTextColor: white;
$footerServicesTextColor: #53565A;


// Font-size
$bodyTextSize: 16px;
$searchCalendarTextSize: 14px;

// Text decoration
@mixin footerLinksDecoration($textDecoration, $color, $hoverTextDecoration) {
    text-decoration: $textDecoration;
    color: $color;
    font-size: 14px;
    margin-left: .25vw;
    &:hover {
        text-decoration: $hoverTextDecoration;
    }
}

// Borders
$roundedBorder: 3px;
$inputBorder: 1px solid #E4E5E8;
$inputBorderRadius: 3px;


// Positions
$navHeight: 10vh;
$searchCalendarPadding: 7px;
$navInputMargin: 0.25vw;

@mixin flexCenter($itemAlignment) {
    display: flex;
    justify-content: center;
    align-items: $itemAlignment;
}

@mixin pageSpacer {
    height: 15vh;
    width: 100%;
}

// Others

// Search bar
@mixin search() {
    padding: $searchCalendarPadding;
    font-size: $searchCalendarTextSize;
    border: 1px solid grey;
    border-top-left-radius: $inputBorderRadius;
    border-bottom-left-radius: $inputBorderRadius;
    float: left;
    background: white;
}

// Search bar button
@mixin searchButton {
    float: left;
    color: $innerNavBackgroundColor;
    padding: $searchCalendarPadding;
    background: white;
    font-size: $searchCalendarTextSize;
    border: 1px solid grey;
    border-top-right-radius: $inputBorderRadius;
    border-bottom-right-radius: $inputBorderRadius;
    border-left: none; /* Prevent double borders */    
    &:hover {
    color: $navBackgroundColor;
    }
}

//Start of Content
html {
    height: 100%;
}

body {
    background: $bodyBackgroundColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 1px;
    background: linear-gradient(to bottom, $navBackgroundColor, red);

    .innerNav {
        @include flexCenter(center);

        height: $navHeight;
        background: $innerNavBackgroundColor;
        color: $navTextColor;

        h1{
            margin-left: 5vw;
            margin-right: 5vw;
        }

        .loginButton {
            margin-left: 0.5vw;
            margin-right: 0.5vw;
            text-decoration: none;
            display: block;
            color: white;
            font-size: 15px;
            padding-top: $searchCalendarPadding;
            padding-bottom: $searchCalendarPadding;
            padding-right: $searchCalendarPadding * 2;
            padding-left: $searchCalendarPadding * 2;
            background: $navBackgroundColor; // linear-gradient(to top, red, $navBackgroundColor);
            border-radius: $inputBorderRadius;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }

        .navServiceProviderLink {
            text-decoration: none;
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }

        img {
            height: 8.5vh;
        }
    }
}

// Navbar search service field
.searchServiceContainer {
    @include flexCenter(center);
    margin-left: 1.25vw;
    margin-right: $navInputMargin;

    .searchService input[type=text] {
        @include search;
        width: 13vw;
    }

    .searchService button {
        @include searchButton;
    }
}

#serviceDate {
    padding: $searchCalendarPadding - 2.5px;
    font-size: $searchCalendarTextSize;
    border-radius: $inputBorderRadius;
    color: #777777;// #8e8e8e; // #999; // #a9a9a9;
    border: 1px solid grey;
    border-radius: $inputBorderRadius;
    background: white;
    width: 9vw;
    margin-right: $navInputMargin;
    margin-left: $navInputMargin;
}

// Navbar search address field
.searchAddressContainer {
    @include flexCenter(center);
    margin-right: $navInputMargin;
    margin-left: $navInputMargin;

    .searchAddress input[type=text] {
        @include search;
        width: 10vw;
    }

    .searchAddress button {
        @include searchButton;
    }

    // Clear floats in the search bar
    form.searchAddress::after {
        content: "";
        clear: both;
        display: table;
      }
}

.pageTopSpacer {
    @include pageSpacer;
}


// Start of Footer
footer {
    padding-bottom: 5px;
    background: linear-gradient(to bottom, red, $navBackgroundColor);//$navBackgroundColor;
    width: 100%;
    margin-top: auto;
    
    .footerServices {
        @include flexCenter(flex-start);
        grid-template-columns: repeat(8, auto);
        background: $footerServicesBackgroundColor;
        padding: 1vh;

        .footerServicesBullets {
            list-style-type: none;   
        }

        .footerServicesLink {
            @include footerLinksDecoration(none, $footerServicesTextColor, underline);
        }
        
        .footerBoldTextServices {
            font-weight: bold;
            font-size: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .footerBottom {
        @include flexCenter(flex-start);
        background: $innerNavBackgroundColor;

        .footerBottomBullets {
            list-style-type: none;

            .footerBoldTextBottom {
                color: white;
                font-weight: bold;
                font-size: 12px;
            }

            .footerBottomLink {
                @include footerLinksDecoration(none, $navTextColor, underline);
                }
            
            .footerBottomLinkNoLine {
                @include footerLinksDecoration(none, $navTextColor, none);
                }

            .footerBottomIconLabel {
                display: flex;
            }
        }

        img {
            height: 15px;
            margin-right: .25vw;
            margin-left: .3vw;
        }
    }
    
    .footerEnd {
        background: $innerNavBackgroundColor;

        .footerHR {
            border: 1px solid white;
            width: 30vw;
            margin: auto;
        }

        .footerParagraph {
            text-align: center;
            color: white;
            font-size: 13px;
            padding-bottom: 2vh;
        }

        .footerEndLink {
            @include footerLinksDecoration(none, $navTextColor, underline);
        }
    }
}

/*
@media only screen and (min-width: 200px) and (max-width: 1024px) {

    .footerContainer {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
    .footerRow {
        display: grid;
        width: 100%;
    }

    .footerColumn {
        font-size: 11px;
    }

    .footerColumn {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    p {
        padding-right: 2vh;
        padding-left: 2vh;
        font-size: 11px;
    }
}
*/
